.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
}

.w3-lobster {
    font-family: "Lobster", serif;
}

.w3-indieflower {
    font-family: 'Indie Flower', cursive;
}

.w3-eaglelake {
    font-family: 'Eagle Lake', cursive;
}

.w3-sil {
    font-family: 'Shadows Into Light', cursive;
}

.w3-dancing {
    font-family: 'Dancing Script', cursive;
}

.w3-asc {
    font-family: 'Amatic SC', cursive;
}

.w3-satisfy {
    font-family: 'Satisfy', cursive;
}

.w3-archdau {
    font-family: 'Architects Daughter', cursive;
}

.w3-lobster2 {
    font-family: 'Lobster Two', cursive;
}

.w3-kaushau {
    font-family: 'Kaushan Script', cursive;
}

.w3-courgette {
    font-family: 'Courgette', cursive;
}

.w3-permanentMarker {
    font-family: 'Permanent Marker', cursive;
}

.w3-cookie {
    font-family: 'Cookie', cursive;
}

.w3-yellowtail {
    font-family: 'Yellowtail', cursive;
}

.w3-handlee {
    font-family: 'Handlee', cursive;
}

.w3-greatvibes {
    font-family: 'Great Vibes', cursive;
}

.w3-coverbyugrace{
    font-family: 'Covered By Your Grace', cursive;
}

.w3-tangerine{
    font-family: 'Tangerine', cursive;
}
